#no-mobile {
  position: absolute;
  z-index: 99;
  height: 110vh;
  width: 100vw;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
